[Unit]
Description=Install operating system Flatpaks
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/flatpak preinstall -y

[Install]
WantedBy=multi-user.target